@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    margin: 0 0 15px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.card-container {
    width: 100%;
    height: 100vh;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 50%);
    display: flex;
    align-self: center;
    position: relative; 
}

.icon {
    position: absolute;
    top: 40%;
    cursor: pointer;
    transition: ease 0.2s;
    font-size: 20px;
    padding: 10px;
    z-index: 99;
}

.icon.hide {
    display: none;
}

.icon:hover {
    transform: translate(-8px, 0);      
}

.fa-chevron-left {
    left: 25%;
}

.fa-chevron-right {
    right: 25%;
}

.add-btn {
    align-self: flex-end;
    margin-left: 50%;
    margin-bottom: 3%;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #0978ed;
    transition: ease 0.1s;
}

.add-btn:hover {
    background-color: #0264cc;
}

.clear-btn {
    align-self: flex-end;
    
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: none;
    left: 30%;
    top: 90%;
    background-color: #e80e36;
    color: #fff;
    transition: ease 0.2s;
}

.clear-btn:hover {
    background-color: #d1042a;
}

.total-cards {
    left: 49%;
    top: 80%;
    position: absolute;
}

.add-card-container {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.add-card-container.active {
    display: flex;
}

.add-card-content {
    width: 60%;
    height: 70vh;
    background-color: #fff;
}

.close-icon {
    margin-left: 95%;
    margin-top: 3%;
    font-size: 20px;
    cursor: pointer;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content label {
    margin: 0 0 8px 0;
}

.form-content input {
    width: 60%;
    padding: 40px;
    margin: 0 0 8px 0;
    border: solid 1px #000;
    outline: none;
}

.add-card-btn {
    width: 60%;
    cursor: pointer;
    outline: none;
    padding: 20px;
    border: none;
    color: #fff;
    background-color: #0978ed;
    transition: ease 0.2s;
}

.add-card-btn:hover {
    background-color: #0264cc;   
}

.card {
    box-shadow: 0px 0px 5px 3px rgba(120,172,255,0.32);
    transition: ease 0.3s;
    width: 40%;
    height: 80vh;
    position: absolute;    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: none; 
    animation: fade 0.4s ease;
}

.card.active {
    display: flex;
}

.card-question {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 600;
}

.card-answer {
    margin: 40px 0 0 0;
    font-size: 18px;
    opacity: 0;
    transition: linear 0.2s;
}

.card-answer.active {
    opacity: 1;
}

.card-hr {
    width: 80%;
    margin: 0 auto;
}

.del-btn {
    margin-left: 90%;
    margin-bottom: 70%;
    position: absolute;
    font-size: 18px;
    color: #fc0330;
    cursor: pointer;
    transition: ease 0.2s;
}

.del-btn:hover {
    color: #db0028;
}

.show-answer-btn {
    cursor: pointer;
    outline: none;
    padding: 10px 40px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #0978ed;
    transition: ease 0.1s;
    width: 30%;
    margin: 50px auto 0 auto;    
}

.show-answer-btn:hover {
    background-color: #0264cc;    
}

@keyframes fade{
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}


/*** Media Queries ***/
@media(max-width: 900px) {
    .card {
        width: 80%;
    }
}

@media(max-width: 700px) {
    .card {
        width: 90%;
    }
    .container {
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .add-btn {
        width: 90%;
        margin: 0 auto;
        
    }
    
    .clear-btn {
        position: static;
        width: 90%;
        margin: 0 auto 15px auto;
    }

    .add-card-content,
    .form-content input,
    .add-card-btn {
        width: 90%;
    }

    .show-answer-btn {
        width: 50%;
    }

    .close-icon {
        margin-left: 90%;
    }
}

