@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    margin: 0 0 15px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.card-container {
    width: 100%;
    height: 100vh;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 50%);
    display: flex;
    align-self: center;
    position: relative;    
}

.icon {
    position: absolute;
    top: 40%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    transition: ease 0.2s;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.9);    
}

.fa-arrow-left {
    left: 3%;
}

.fa-arrow-right {
    right: 3%;
}

.add-btn {
    align-self: flex-end;
    margin-left: 78%;
    margin-bottom: 5%;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #0978ed;
    transition: ease 0.1s;
}

.add-btn:hover {
    background-color: #0264cc;
}

.add-card-container {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.2);
    display: none;
}

